$alt-text-color: #1f1f1f;

$purple-light-background: #e9d5ff;
$purple-dark-background: #581c87;

$green-light-background: #bbf7d0;
$green-dark-background: #14532d;

$red-light-background: #fecaca;
$red-dark-background: #7f1d1d;

$blue-light-background: #bfdbfe;
$blue-dark-background: #1e3a8a;

$orange-light-background: #fed7aa;
$orange-dark-background: #7c2d12;
